.header {
    border-bottom: 1px solid #ececec;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .header-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  
    color: var(--acent-color);
  }
  
  .studio {
    color: var(--title-text-color);
  }
  
  .header-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
    color: var(--title-text-color);
  }
  .header-nav .item {
    align-items: center;
  }
  .header-nav .item + .item {
    margin-left: 50px;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  
  .st-link,
  .pf-link,
  .kon-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--hover-duration) var(--hover-time-function);
  
    color: var(--title-text-color);
  }
  .a {
    display: block;
  }
  
  .st-link {
    position: relative;
  }
  .st-link.current {
    color: var(--acent-color);
  }
  .current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    display: block;
    background-color: var(--acent-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
  .pf-link {
    position: relative;
  }
  
  .pf-link .current {
    color: var(--acent-color);
  }
  
  .st-link:hover,
  .st-link:focus {
    color: var(--acent-color);
  }
  .pf-link:hover,
  .pf-link:focus {
    color: var(--acent-color);
  }
  .kon-link:hover,
  .kon-link:focus {
    color: var(--acent-color);
  }
  .header-nav .link.current {
    color: var(--acent-color);
  }
  .contact {
    display: block;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    margin-left: auto;
  }
  
  .header-contact {
    display: flex;
    margin-left: auto;
  }
  .contact .item + .item {
    margin-left: 50px;
  }
  
  .email {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--hover-duration) var(--hover-time-function);
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--primary-text-color);
  }
  
  .tel {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--hover-duration) var(--hover-time-function);
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--primary-text-color);
  }
  .email .tel {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .tel:hover,
  .tel:focus {
    color: var(--acent-color);
  }
  .email:hover,
  .email:focus {
    color: var(--acent-color);
  }
  
  .header-icon {
    display: inline-block;
    margin-right: 10px;
  
    fill: var(--primary-text-color);
    transition: fill var(--hover-duration) var(--hover-time-function);
  }
  
  .email:hover .header-icon {
    fill: var(--acent-color);
  }
  .email:focus .header-icon {
    fill: var(--acent-color);
  }
  .tel:hover .header-icon {
    fill: var(--acent-color);
  }
  .tel:focus .header-icon {
    fill: var(--acent-color);
  }